/*Reset*/
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #333;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
}

a {
    color: #794f45;
}

h1 {
    font-size: 40px;
    line-height: 1;
    margin: 0px 0px 50px 0px;
}

h2 {
    font-size: 30px;
    margin: 0px 0px 20px 0px;
}

ul {
    list-style: none;
}

/* ================ */

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: "header" "main" "footer";
}

.header {
    grid-area: header;
    padding: 15px;
    background-color: #77608d;
    display: grid;
    align-items: center;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}

.header__logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    grid-column: 2 / 3;
}

.header__menu {
    grid-column: 3 / 4;
}

.header__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
}

.header__list li {
}

.header__link {
    color: #fff;
    font-size: 15px;
}

.main {
    padding: 30px 15px;
}

@media (min-width: 992px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }
}

.sidebar {
    background-color: #7a956b;
    padding: 30px 15px;
    margin: 0px 0px 30px 0px;
}

.sidebar__menu {
}

.sidebar__list {
}

.sidebar__list li {
    margin: 0px 0px 15px 0px;
}

.sidebar__link {
    color: #fff;
    font-size: 20px;
}

.content {

}

.content__order {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-left: 20px;
}

.content__generate {
    display: flex;
    flex-wrap: wrap;
}

.content__search_item {
    width: 400px;
    flex-grow: 1;
    margin: 15px 0px;
}

.content__search_date {
    width: 200px;
    flex-grow: 1;
    margin: 15px 0px;
}

.search__input {
    position: relative;
    width: 80%;
}

.search__input input {
    padding: 10px 30px 10px 10px;
    font-size: 16px;
    border: 1px solid grey;
    width: 100%;
    background: #f1f1f1;
}

.search__date select {
    padding: 10px 10px;
    font-size: 16px;
    text-align: center;
    border: 1px solid grey;
    width: 80px;
    background: #f1f1f1;
}

.search__date label {
    display: block;
}

.icon__input {
    position: absolute;
    top: 19px;
    right: 0;
    height: 40px;
    width: 40px;
    line-height: 50px;
    text-align: center;
    color: black;
    padding-left: 5px;
    cursor: pointer;
}

.autocomplete__box {
    display: none;

}

.autocomplete__box.active {
    display: block;
    position: absolute;
    width: 100%;
    max-height: 300px;
    overflow: scroll;
    z-index: 1;
    background-color: #6b757e;
}

.autocomplete__box li {
    list-style: none;
    padding: 0px 10px;
    font-size: 12px;
}

.autocomplete__box li:hover {
    background-color: #3c4549;
}

.content__header {
    text-align: center;
}

.input {
    width: 30%;
    margin: 10px 5px;
    padding: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
}

.input._error {
    box-shadow: 0 0 10px red;
}

.input:focus {
    background-color: #cdb497;
    border: 2px solid #555;
}


.popupError {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 8px;
    position: absolute;
    z-index: 1;
    bottom: 90%;
    right: 65%;
}

.file__item {
    display: inline-block;
    position: relative;
    margin: 10px 10px;
}

.file__book, .input__file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 0;
    cursor: pointer;
}

.file__button {
    display: inline-flex;
    min-height: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: #6b757e;
    padding: 0px 20px;
}

.file__button._error {
    box-shadow: 0 0 10px red;
}

.popupError::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popupError.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.input__pop {
    position: relative;
}

.label {
    display: block;
    float: left;
    width: 15%;
    margin: 10px;
    padding-top: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form > div, fieldset {
    margin: 10px 10px;
}

form h4 {
    margin: 15px 10px;
}

fieldset {
    border: 2px groove #fff;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 20px 0px;
    padding: 10px 0px;
}

.container {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    display: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    margin-left: 15px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark._error {
    box-shadow: 0 0 10px red;
}

.button {
    display: inline-block;
    margin: 10px 15px 10px 0px;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #6b757e;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.button:hover {
    background-color: #272c28
}

.button:active {
    background-color: #7379d3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media (min-width: 992px) {
    .main {
        grid-area: main;
        display: grid;
        grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    }

    .sidebar {
        grid-column: 2 / 3;
        margin: 0px;
    }

    .content {
        grid-column: 3 / 4;
        padding: 0px 0px 0px 30px;
    }
}

.add__element {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 5px 5px;
}

.delete__element {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 5px 5px 5px 10px;
}

.author__input_clone {
    margin-left: 185px;
    margin-right: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid greenyellow;
    padding: 10px;
}

tbody td {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: rgba(64, 64, 69, 0.84);
}

tbody tr:nth-child(even) {
    background-color: #312c31;
}

th {
    font-size: 20px;
    font-weight: bold;
}

.rest_book, .name_rus, .total__book {
    width: 15%;
}

.table__arrow, .arrow__nameRus, .arrow__restBook {
    display: inline-block;
    padding: 5px;
}

.table__arrow.reverse {
    transform: rotate(180deg);
}

.arrow__nameRus.reverse {
    transform: rotate(180deg);
}

.arrow__restBook.reverse {
    transform: rotate(180deg);
}

.pagination__items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 10px;
}

.pagination__item {
    padding: 5px 10px;
    border: 1px solid #3e7cac;
    font-weight: bold;
}

.pagination__item:hover {
    cursor: pointer;
    color: aqua;
    background-color: #3e7cac;
}

.pagination__item.active {
    background-color: #527391;
}

.footer {
    display: grid;
    grid-area: footer;
    grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
    background-color: rgb(22, 83, 63);
    align-items: center;
    padding: 15px;
}

.footer__copy {
}

.footer__text {
}

@media (min-width: 550px) {
    .footer__copy {
        grid-column: 2 / 3;
    }

    .footer__text {
        text-align: right;
        grid-column: 3 / 4;
    }
}

@media (max-width: 550px) {
    .footer {
        grid-template: 1fr 1fr / 1fr;
        text-align: center;
    }
}

.error {
    color: red;
}

.order {
    padding: 20px 0px;
}